
# Created by https://www.gitignore.io/api/v,visualstudiocode

#!! ERROR: v is undefined. Use list command to see defined gitignore types !!#

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json

!tsconfig.json